<div class="animated-background"></div>
<div class="overlay"></div>
<div class="container text-white" >
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body gs">
                    <h2 class="card-title text-center mb-4">Log In</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username" class="my-2">Username</label>
                            <input type="text" class="form-control" id="username" formControlName="username">
                            <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger alert">Name is Required</div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="my-2">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Log In</button>
                        </div>
                        <p class="text-center mt-3">Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>