<!-- Navigation Bar -->
<nav class="navbar nav-inner navbar-dark container">
    <img [src]="logo" style="width: 50px; height: 50px">
    <div class="text-center justify-content-center ms-auto">
        <div class="my-2 my-sm-0 text-white bordered" [ngClass]="{'me-4': !isUserOrAdminLoggedIn(), 'ms-5': isUserOrAdminLoggedIn()}">
            <span class="border border-white px-2 pb-1 pt-2 border-3 rounded">
                <span class="lead">D</span>
                <span class="h3">G</span>
                <span class="lead">W</span>
            </span>
        </div>
    </div>
    <div class="text-end ms-auto">
        <a class="btn btn-info my-2 my-sm-0 me-3 text-white" (click)="handleLogout()" *ngIf="isUserOrAdminLoggedIn()">Log out</a>
    </div>
</nav>