<div class="animated-background"></div>
<div class="overlay"></div>
<div class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-10 mt-5">
            <div class="card ">
                <div class="card-body mv">
                    <h2 class="card-title text-center mb-4">Sign Up</h2>
                    <form class="row" [formGroup]="signUpForm" (ngSubmit)="signUpFormSubmit()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control sg" id="name" formControlName="name" placeholder="Enter your Full Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control sg" id="email" formControlName="email" placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control sg" id="password" formControlName="password" placeholder="Enter your Password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control sg" id="confirmPassword" formControlName="confirmPassword" placeholder="Re-Type your Password">
                            </div>
                            <div class="form-group">
                                <label for="balance">Balance</label>
                                <input type="number" class="form-control sg" id="balance" formControlName="balance" placeholder="Enter your Initial Balance">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <input type="text" class="form-control sg" id="street" formControlName="street" placeholder="Enter your Street">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control sg" id="city" formControlName="city" placeholder="Enter your City">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control sg" id="state" formControlName="state" placeholder="Enter your State">
                            </div>
                            <div class="form-group">
                                <label for="postalCode">Postal Code</label>
                                <input type="text" class="form-control sg" id="postalCode" formControlName="postalCode" placeholder="Enter your PIN">
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control sg" id="country" formControlName="country" placeholder="Enter your country ">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3 text-center signupButton">Sign Up</button>
                        <p class="text-center mt-3">Already have an account? <a [routerLink]="['/login']">Log In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>