<div class="animated-background"></div>
<div class="overlay"></div>
<div class="container ">
    <div class="row min-vh-100 justify-content-center align-items-center  text-white">
        <div class="col-md-8 text-center land ">
        <div class="land">
            <h1 class="display-4 mb-4 landHead" >Welcome to Digital Gold Wallet</h1>
        </div>
            <p class="lead mb-4 landHead">Manage and secure your digital gold assets with ease and confidence. Sign in to access your account or sign up to create a new one.</p>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg m-3">Log in</a>
            <a [routerLink]="['/signup']" class="btn btn-success btn-lg m-3">Sign Up</a>
        </div>
    </div>
</div>